td p{
    display: flex;
    justify-content: center;
    align-items: center;
}
td{
  text-align: center;
}
/* table {
    border:2px solid black;
  } */

/* tr,th{
    height: 50px;
  } */

  /* #reviewInput:focus ~ .reviewLabel{
    top:0
  } */